<a href="https://colab.research.google.com/github/MohammedRafik0909/DSA0509-QPDS/blob/main/11.%20Higlighting%20Nan%20values.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:

import pandas as pd
import numpy as np
data = np.random.randn(10, 4)
df = pd.DataFrame(data, columns=['Column1', 'Column2', 'Column3', 'Column4'])
rows, cols = np.random.choice(10, size=5), np.random.choice(4, size=5)
df.iloc[rows, cols] = np.nan
styled_df = df.style.applymap(lambda val: f'background-color: red' if pd.isna(val) else '')
styled_df